#!/bin/bash
brew bundle --no-upgrade --file=/dev/stdin <<'BREWFILE'
brew "bat"
brew "bitwarden-cli"
brew "btop"
brew "chezmoi"
brew "colima"
brew "docker"
brew "docker-buildx"
brew "docker-compose"
brew "eza"
brew "fd"
brew "ffmpeg"
brew "fzf"
brew "gh"
brew "git-delta"
brew "git-lfs"
brew "lazydocker"
brew "lazygit"
brew "mise"
brew "neovim"
brew "neovim-remote"
brew "opencode"
brew "ripgrep"
brew "sesh"
brew "speedtest-cli"
brew "starship"
brew "tmux"
brew "tree-sitter-cli"
brew "uv"
brew "wget"
brew "zoxide"
cask "bitwarden"
cask "brave-browser"
cask "chromium"
cask "dbeaver-community"
cask "font-jetbrains-mono"
cask "font-jetbrains-mono-nerd-font"
cask "ghostty"
cask "google-chrome"
cask "jumpcut"
cask "karabiner-elements"
cask "libreoffice"
cask "obsidian"
cask "openlogi"
cask "spotify"
cask "visual-studio-code"
cask "zoom"
{{- if eq .profile "work" }}

tap "appsignal/appsignal-cli"
tap "eazybi/tap"
brew "ant"
brew "appsignal/appsignal-cli/appsignal-cli"
brew "automake"
brew "bash-completion"
brew "caddy"
brew "eazybi/tap/eazybi-cli"
brew "fswatch"
brew "gum"
brew "libfaketime"
brew "libffi"
brew "libtool"
brew "libyaml"
brew "make"
brew "pkgconf"
brew "poppler"
brew "postgresql@14", restart_service: :changed
brew "pgvector"
brew "redis", restart_service: :changed
brew "screen"
brew "sk"
brew "watch"
brew "zlib"
cask "chromedriver"
cask "firefox"
cask "gcloud-cli"
cask "loom"
cask "microsoft-edge"
cask "ngrok"
cask "postman"
cask "slack"
cask "visualvm"
{{- else }}

brew "ansible"
brew "bash"
brew "dnsmasq"
brew "gptfdisk"
brew "grep"
brew "nginx"
brew "nmap"
brew "pdftk-java"
brew "qemu"
brew "rename"
brew "transmission-cli"
brew "vips"
brew "xorriso"
brew "yt-dlp"
cask "adobe-digital-editions"
cask "anydesk"
cask "balenaetcher"
cask "blender"
cask "calibre"
cask "dropbox"
cask "figma"
cask "kobo"
cask "localsend"
cask "logos"
cask "macs-fan-control"
cask "telegram"
cask "transmission"
cask "ventoy2disk-cli"
cask "vlc"
cask "whatsapp"
{{- end }}
BREWFILE
