#!/bin/bash
brew trust --tap nikitabobko/tap
brew bundle --file=/dev/stdin <<'EOF'
tap "nikitabobko/tap"
brew "mise"
brew "fzf"
brew "zoxide"
brew "eza"
brew "btop"
brew "lazygit"
brew "gh"
brew "bitwarden-cli"
brew "tmux"
brew "sesh"
brew "neovim"
brew "tree-sitter-cli"
cask "nikitabobko/tap/aerospace"
cask "openlogi"
cask "visual-studio-code"
{{ if eq .profile "work" }}
# work-only formulae/casks added in a later phase
{{ end -}}
EOF
